*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}

.head{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(140deg, rgb(119, 182, 255),rgb(248, 176, 176));
}

.icon-image{
    width: 70px;
}

.icon-image img{
    width: 100%;
}

.blue-text{
    color: rgb(87, 77, 44);
    font-size: 30px;
}

.green-text{
    color: rgb(75, 76, 87);
    font-size: 40px;
}

.head-title{
    font-family: monospace;
    text-align: center;
}

.nav-with-intro{
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    width: 100%;
    border: blueviolet 1px solid;
}

.navbar a{
    font-size: 25px;
    color: rgb(95, 89, 89);
    position: relative;
    right: 30px;
    transition: all .5s;
}

.navbar a:hover{
    font-size: 27px;
    color: rgb(108, 153, 194);
}
.navbar li{
    margin-bottom: 20px;
}

.intro{
    border: solid 1px black;
}